:root {
    --background-palette: white;
    --box-palette: #cccccc;
    --text-box-palette: #eeeeee;
    --main-pink: #FF7AAC;
    --text-color: rgb(71, 71, 71);

}

body {
    background-color: var(--background-palette);
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

#header {
    background-color: var(--background-palette);
    padding: 0;
    text-align: center;
}

h1 {
    color: var(--main-pink);
    font-size: 300%;
    margin: 0;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 70%;
}

div#input {
    width: 30vw;
}

#form_container {
    background-color: var(--box-palette);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 7% 7% 0 7%;
    height: fit-content;
}

form {
    height: 100%;
}

form label {
    display: block;
    margin-bottom: 5%;
}

form textarea {
    border-radius: 3px;
    border: none;
    color: var(--text-color);
    height: 50vh;
    resize: none;
    background-color: var(--text-box-palette);
    padding: 5px;
    width: 97.5%;
}

form input[type="submit"] {
    background-color: var(--main-pink);
    border-radius: 3px;
    border: none;
    color: var(--background-palette);
    cursor: pointer;
    height: 5vh;
    margin: 2% 0 2% 0;
    width: 100%;
}

button#speech_to_text {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: fit-content;
    border: none;
    background: transparent;
    
}

#speech_to_text img {
    width: 100%;
    height: auto;
    filter: invert(87%) sepia(5%) saturate(26%) hue-rotate(314deg) brightness(50%) contrast(89%);
}

#speech_to_text img:hover {
    cursor: pointer;
}

#output_container {
    background-color: var(--box-palette);
    border-radius: 0 5px 5px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 5%;
    height: 92% ;
    overflow-wrap: break-word;

}

#output_container p {
    margin: 0;
    margin-bottom: 5%;
}

#output_container pre {
    height: 90%;
    background-color: var(--text-box-palette);
    border-radius: 3px;
    padding: 0;
}

#output_container pre code {
    height: 100%;
    background-color: var(--text-box-palette);
    border-radius: 3px;
    font-size: 12px;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.7rem;
}

span.rectangle {
    background-color: var(--main-pink);
    font-size: 0.75em;
    border-radius: 20px;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 20px 0 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-indent: 7px;
    color: var(--background-palette);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

span.rectangle:hover {
    cursor: pointer;
    filter: brightness(96%);
}

span.rectangle:active {
    filter: brightness(80%);
}

span.rectangle p {
    font-size: 130%;
}

span.rectangle p a {
    font-weight: bold;
    color: var(--background-palette);
    text-decoration: none;
}

#copy_button {
    position: absolute;
    border: none;
    border-radius: 10px;
    padding: 5px;
    right: 20px;
    top: 10px;
}
  
#copy_button:hover {
    cursor: pointer;
    background-color: lightgrey;
}
  
#copy_button:active {
    filter: brightness(80%);
}
  
#messages_container {
    background-color: var(--box-palette);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    height: 92%;
    padding: 5%;
}

#messages_container p {
    margin: 0 0 5% 0;
}

#messages {
    border-radius: 3px;
    border: none;
    color: var(--text-color);
    height: 87.6%;
    resize: none;
    background-color: var(--text-box-palette);
    overflow-y: scroll;
    padding: 5px;
}

.tab-container {
    width: 30vw;
    margin-left: 2%;
}

.tab {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    width: fit-content;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--text-color)
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: 90%;
}

.text > * {
    margin: 0;
}

.text {
    margin-top: 5px;
}


@media screen and (max-width: 750px) {
    .tab-container {
        width: 70vw;
    }

    #form_container {
        width: 92%;
    }

    div#input {
        width: 100%;
    }

    
}

@media screen and (max-width: 550px) {

    .tab button {
        padding: 7px 6px;
    }

    body {
        height: 110vh;
    }
}