:root {
    --background-palette: white;
    --box-palette: #cccccc;
    --text-box-palette: #eeeeee;
    --main-pink: #FF7AAC;
    --text-color: rgb(71, 71, 71);

}

body {
    background-color: var(--background-palette); /* dark purple */
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

#header {
    background-color: var(--background-palette); /* dark grayish-purple */
    padding: 10px;
    text-align: center;
}

h1 {
    color: var(--main-pink);
    font-size: 300%;
    margin: 0;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: fit-content;
    min-height: 75%;
}

#form_container {
    background-color: var(--box-palette); /* light grayish-purple */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding: 20px;
    width: 400px;
}

form {
    height: 100%;
}

form label {
    display: block;
    margin-bottom: 5%;
}

form textarea {
    border-radius: 3px;
    border: none;
    color: var(--text-color);
    min-height: 80%;
    resize: none;
    background-color: var(--text-box-palette);
    padding: 5px;
    width: 97.5%;
}

form input[type="submit"] {
    background-color: var(--main-pink); /* reddish-orange */
    border-radius: 3px;
    border: none;
    color: var(--background-palette);
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    width: 100%;
}

#output_container {
    background-color: var(--box-palette); /* light grayish-purple */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-left: 20px;
    padding: 20px;
    width: 400px;
    overflow-wrap: break-word;
}

#output_container p {
    margin: 0;
    margin-bottom: 5%;
}

#output_container pre {
    min-height: 90%;
    background-color: var(--text-box-palette);
    ; /* dark grayish-purple */
    border-radius: 3px;
    color: var(--text-color);
    font-size: 12px;
    overflow: auto;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

svg#plus-button {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(0);
    transition: transform 0.5s ease-in-out;  
}

svg#plus-button.rotated {
    transform: rotate(270deg);
}

span.rectangle {
    background-color: var(--main-pink);
    border-radius: 20px;
    display: inline-block;
    width: 210px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-indent: 7px;
    color: var(--background-palette);
  }

textarea#api-key-textarea {
    margin-left: 50px;
    background-color: var(--text-box-palette);
    color: var(--background-palette);
    border-width: 5px;
    border-color: var(--box-palette);
}

button#save-api-key {
    background-color: var(--main-pink);
    color: white;
    border: 0px;
    border-radius: 4px;
}