<!DOCTYPE html>
<html>
<head>
    <title>CLAIRify</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="static/prism/prism.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="static/img/logo.png">
    
</head>
<body>
    <div id="header">
        <h1>CLAIRify</h1>
        <p>Translate natural language to XDL.</p>
    </div>
    <div id="content">
        <div id="form_container">
            <form id="input_form" method="POST">
                <label for="input_field">Enter instructions to be translated to XDL</label>
                {% if input_xdl %}
                <textarea id="input_field" name="input_field" placeholder="e.g. Pour water into a cup and stir.">{{input_xdl}}</textarea>
                {% else %}
                <textarea id="input_field" name="input_field" placeholder="e.g. Pour water into a cup and stir."></textarea>
                {% endif %}
                <input id="submit_button" type="submit" name="submit_button" value="Translate"></input>
            </form>
        </div>
        <div id="output_container">
            <p>The translated text is: </p>
            {% if output_xdl %}
            <pre id="output_container_pre"><code class="language-xml">{{output_xdl}}</code></pre>
            {% else %}
            <pre id="output_container_pre"></pre>
            {% endif %}
        </div>
        <span class="rectangle" href="https://ac-rad.github.io/clairify">
            <p><a href="https://ac-rad.github.io/clairify" target="_blank">CLAIRify website</a></p>
        </span>
    </div>
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
    <script src="static/prism/prism.js"></script>
  </body>
</html>
