<!DOCTYPE html>
<html>
<head>
    <title>CLAIRify</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="static/img/logo.png">
</head>
<body>
    <div id="header">
        <h1>CLAIRify</h1>
        <p>Translate natural language to XDL.</p>
    </div>
    <div id="content">
        <div id="form_container">
            <form id="input_form" method="POST">
                <label for="input_field">Enter instructions to be translated to XDL</label>
                {% if input_xdl %}
                <textarea id="input_field" name="input_field" placeholder="e.g. Pour water into a cup and stir.">{{input_xdl}}</textarea>
                {% else %}
                <textarea id="input_field" name="input_field" placeholder="e.g. Pour water into a cup and stir."></textarea>
                {% endif %}
                <input id="submit_button" type="submit" name="submit_button" value="Translate"></input>
            </form>
        </div>
        <div id="output_container">
            <p>The translated text is: </p>
            {% if output_xdl %}
            <pre id="output_container_pre">{{output_xdl}}</pre>
            {% else %}
            <pre id="output_container_pre"></pre>
            {% endif %}
        </div>
        <span class="rectangle" onclick="createTextArea()">
            <p>Enter OpenAI API Key</p>
            <svg id="plus-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><rect width="203.340596" height="18.15541" rx="9.08" ry="9.08" transform="translate(51.234568 140.922295)" fill="#d2dbed" stroke-width="0"/><rect width="203.340596" height="18.15541" rx="9.08" ry="9.08" transform="matrix(0 1-1 0 161.982571 48.329702)" fill="#d2dbed" stroke-width="0"/></svg>
        </span>
    </div>
    <footer><a href="https://ac-rad.github.io/clairify">CLAIRify website</a></footer>
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
  </body>
</html>
